:root {
  --bg-color: #EAF6FF;
  --accent-color: #5AA9E6;
  --dark-accent-color: #2C7FB8;
  --text-color: #2A3A4A;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
}

h1, h2, h3, p, span {
  color: var(--text-color);
}

.header {
  width: 100%;
  height: 3rem;
}

.header h1 {
  text-align: center;
}

.results-panel {
  display: none;
}

.card-data-container {
  display: flex;
  flex-direction: row;
}

.data-card {
  border: 1px solid var(--accent-color);
  border-radius: 5%;
  width: fit-content;
  padding: .25rem;
  margin: .25rem;
}

.data-unit {
  font-weight: 800;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
}

#input-form {
    margin: 10px;
}